*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}
body{
    background-color: #50b9d9;
}
.info-head{
    margin: 2rem auto;
}
.info-time{
    margin-bottom: 2rem;
}
h1,h2{
    color: #fff;
}
.button-item{
    padding: 0.5rem 2rem;
    margin-right: 0.5rem;
    background-color: blue;
    border: none;
    cursor: pointer;
    color: white;
}
.button-item:hover{
    background-color: #fff;
    color: blue;
}
